#cases {
  padding-top: 20px;
  padding-bottom: 20px;
}

.select-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 0;
  
  &:after {
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -10px;
    border-bottom: thin solid #1b00ff;
    opacity: 0.25;
  }

  .presentation {
    flex: 2 0 100%;

    .icon {
      width: 30px;
      margin-right: 10px;
      color: $check-green;
    }

    .prefix {
      margin-right: 10px;
      font-family: $font2;
      font-size: 22px;
    }

    h2 {
      display: inline;
      font-family: $font1;
      font-size: 18px;
      font-weight: 200;
      color: $base-color;
    }
  }

  .text-description {
    p {
      margin-left: 30px;
      font-size: 14px;
      color: $text-color;
      
      &:empty {
        display: none;
      }
    }
  }
  
  .tested-browsers {
    display: inline;
    margin-left: 10px;
  
    .icon {
      color: $check-green;

      &.not-tested {
        color: $uncheck-red;
      }
    }
  }
  
  .left-col,
  .right-col {
    flex: 1 1 50%;
  }
  
  .left-col {
    select {
      margin: 10px 0;
    }
  }
  
  .right-col {
    
  }
}