$brand-blue:  #0e0ed7;
$base-color:  #434053;
$text-color:  #8c86b1;
$check-green: #20de2f;
$uncheck-red: #c31111;

$font-size: 16px;

$font1: 'Titillium Web', sans-serif;
$font2: 'Indie Flower', cursive, serif;