html, body, section, div {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/**
 * LAYOUT
 */
.container {
  margin-left: 3%;
  margin-right: 3%;
  max-width: 1000px;
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?4zs0b8");
  src: url("../fonts/icomoon.eot?4zs0b8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4zs0b8") format("truetype"), url("../fonts/icomoon.woff?4zs0b8") format("woff"), url("../fonts/icomoon.svg?4zs0b8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-display:before {
  content: "\e900";
}

.icon-laptop:before {
  content: "\e901";
}

.icon-mobile:before {
  content: "\e902";
}

.icon-mobile2:before {
  content: "\e903";
}

.icon-tablet:before {
  content: "\e904";
}

.icon-notification:before {
  content: "\e905";
}

.icon-cross:before {
  content: "\e906";
}

.icon-checkmark:before {
  content: "\e907";
}

.icon-arrow-right:before {
  content: "\e908";
}

.icon-embed2:before {
  content: "\e909";
}

.icon-github:before {
  content: "\e90a";
}

.icon-linkedin2:before {
  content: "\e90b";
}

.icon-html5:before {
  content: "\e90c";
}

.icon-chrome:before {
  content: "\e90d";
}

.icon-firefox:before {
  content: "\e90e";
}

.icon-IE:before {
  content: "\e90f";
}

.icon-opera:before {
  content: "\e910";
}

.icon-safari:before {
  content: "\e911";
}

.hidden {
  display: none;
  visibility: hidden;
}

#header {
  background-color: #0e0ed7;
}
#header .logo {
  height: 80px;
}
#header h1 {
  margin: 0;
  font-family: sans-serif;
  font-size: 22px;
}

#cases {
  padding-top: 20px;
  padding-bottom: 20px;
}

.select-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative;
  padding: 10px 0;
}
.select-wrapper:after {
  content: '';
  display: block;
  width: 100%;
  margin-bottom: -10px;
  border-bottom: thin solid #1b00ff;
  opacity: 0.25;
}
.select-wrapper .presentation {
  -webkit-box-flex: 2;
  -webkit-flex: 2 0 100%;
      -ms-flex: 2 0 100%;
          flex: 2 0 100%;
}
.select-wrapper .presentation .icon {
  width: 30px;
  margin-right: 10px;
  color: #20de2f;
}
.select-wrapper .presentation .prefix {
  margin-right: 10px;
  font-family: "Indie Flower", cursive, serif;
  font-size: 22px;
}
.select-wrapper .presentation h2 {
  display: inline;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  font-weight: 200;
  color: #434053;
}
.select-wrapper .text-description p {
  margin-left: 30px;
  font-size: 14px;
  color: #8c86b1;
}
.select-wrapper .text-description p:empty {
  display: none;
}
.select-wrapper .tested-browsers {
  display: inline;
  margin-left: 10px;
}
.select-wrapper .tested-browsers .icon {
  color: #20de2f;
}
.select-wrapper .tested-browsers .icon.not-tested {
  color: #c31111;
}
.select-wrapper .left-col,
.select-wrapper .right-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}
.select-wrapper .left-col select {
  margin: 10px 0;
}



/*# sourceMappingURL=app.css.map */
