{% block html %}
  <!DOCTYPE html>
  <html>
    <head>
      <title>DropdownJS | renanmfd</title>
      <link href="css/dropdown.css" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700|Indie+Flower' rel='stylesheet' type='text/css'>
      <link href="css/app.css" rel="stylesheet">
    </head>
    <body>
      <div id="page">

        <section id="header">
          <div class="container">
            <h1 class="page-title hidden">DropdownJS</h1>
            <img class="logo" src="img/logo_white_transparent.png" alt="DropdownJS" />
          </div>
        </section>

        <section id="cases">
          <div class="container">

            <!-- EXAMPLE -->
            {% for select in selects %}
              {% include "case.twig" with select %}
            {% endfor %}

          </div>
        </section>

      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="js/dropdown.js"></script>
      <script src="js/app.js"></script>
    </body>
  </html>
{% endblock html %}